<form name="searchForm" class="pure-form pure-form-aligned" ng-submit="$ctrl.search()">
  <fieldset>
    <div class="pure-control-group">
      <label for="search-terms">Search terms</label>
      <textarea class="pure-input-1-2" placeholder="Add skills, separated by commas (ex. PHP, Javascript, ...)" ng-model="$ctrl.searchForm.skills" required></textarea>
    </div>

    <div class="pure-control-group">
      <label for="location">Location</label>
      <input id="location" type="text" placeholder="Enter Job Location" ng-model="$ctrl.searchForm.location">

      <button type="submit" class="pure-button pure-button-primary" >Submit</button>

    </div>
  </fieldset>
</form>
