* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
  max-width:200px;
  /*position: relative;*/
  /*padding-top: 25px;*/

}

/*.logo img{
    margin-left: 15px;
    vertical-align: top;
    position: relative;
    height:65px;
    margin-top: 5px;
    padding-top: 5px;
}*/

.buttons {
  /*background: #2F637B;*/
  color: rgb(28, 184, 65);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.home-menu {
    padding: 0.5em;
    /*text-align: center;*/
    /*box-shadow: 0 1px 1px rgba(0,0,0, 0.10);*/
    /*background: rgb(19, 2, 76);*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: #0a114b;
    /*border-bottom: 1px solid rgba(223, 86, 9, 0.99)*/
}


.home-menu .pure-menu-heading, .footer-menu {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

/*layout styles*/
.is-center {
    text-align: center;
}

.l-box {
    padding: 1em;
}

.l-content {
    margin: 0 auto;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*-- Billboard template --
This is the blue top section that appears on the page.*/

.splash-container {
   background: #c6c6c6;
   z-index: 1;
   overflow: hidden;
   /* The following styles are required for the "scroll-over" effect */
   width: 100%;
   height: 50em;
   top: 0;
   left: 0;
   border-bottom: 1px solid rgba(223, 86, 9, 0.99)
   /*position: fixed !important;*/
}

.splash {
   /* absolute center .splash within .splash-container */
   width: 60%;
   height: 20%;
   margin: auto;
   position: absolute;
   top: 100px; left: 0; bottom: 0; right: 0;
   text-align: center;
   text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
/*.splash-head {
   font-size: 20px;
   font-weight: bold;
   color: white;
   border: 3px solid white;
   padding: 1em 1.6em;
   font-weight: 100;
   border-radius: 5px;
   line-height: 1em;
}*/

/* This is the subheading that appears on the blue section */
.splash-subhead {
   color: white;
   letter-spacing: 0.05em;
   opacity: 0.8;
}

/*end billboard*/

/*searchForm*/
.form-border {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 3em 3em;
    background: #f7f7f7;
}

.save-boxes {
    height: 30em;
    width: 70%;
    border: 1px solid #ddd;
    margin: 7em auto 1em;
    padding: 3em 3em;
    background: #f7f7f7;
}

.small-box {
  height: 40%;
  width: 40%;
  background: #c6c6c6;
  padding: 1em;
}

.jobPost {
  width: 80%;
  height: 5em;
  background: #f7f7f7;

}

/*footer*/
.footer-menu {
    background-color: rgba(0, 0, 0, 0.8);
    /*position: fixed;*/
    bottom: 0.4em;
    width: 100%;
    border-top: 1px solid rgba(223, 86, 9, 0.99)
}

/*.content {
    padding: 1em 1em 3em;
}*/


/* ----------------------------
* job list css start
* ----------------------------
*/

.jobList-header {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    max-width: 768px;
    margin: 0 auto;
    /*padding: 1em;*/
    text-align: center;
    /*border-bottom: 1px solid #eee;*/
    background: #fff;
    letter-spacing: 0.05em;
}


.job-page {
  margin-top: 3em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.post-title {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #5C668A;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #696969;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.header {
    margin: 80% 2em 0;
    text-align: right;
}

/* job posts end */


pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6*/
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  overflow: auto
}
