
<div class="job-page">
  <p>Your search parameters were: <b>Skills: </b>{{ $ctrl.skills }}, <b>Location: </b>{{ $ctrl.location }}</p>
  <hr>
  <ul class="pure-menu-list pure-u-5-5 is-center" ng-if="$ctrl.isUser()">
    <li id="login-button"><a class="pure-button button-secondary is-center" href="#" ng-click="$ctrl.saveSearch()">Save Search</a></li>
  </ul>
</div>
<div>
    <h1 class="jobList-header">Job Results</h1>
    <div class="jobList-indeed">
      <span id="indeed_at">
        <a title="Job Search" href="https://www.indeed.com">powered by
          <img alt="Indeed" src="https://www.indeed.com/p/jobsearch.gif">
        </a>
      </span>
    </div>
    <!-- <h2>subhead here</h2> -->
</div>

  <div ng-repeat="result in $ctrl.searchResults">

    <!-- <p>{{ result.url }}</p> -->
    <a ui-sref="jobView({jobLink: '{{ result.url }}', skills: '{{ $ctrl.skills }}'})">
      <job-post job="result"></job-post>

      <!-- {{ result.jobtitle }} -->
    </a>
  </div>
